snippet com "Comment Section"
"----------------------------------------------------------------------
" ${1}
"----------------------------------------------------------------------
${0}
endsnippet

snippet 2com
" ----- * ${1} * ----- "${0}
endsnippet

snippet 3com
" =======
" ${1}
" =======${0}
endsnippet
