snippet main "main"
#include <iostream>
#include <string>
#include <vector>

using std::cout;
using std::endl;
using std::string;

int main(${1:int argc, char *argv[]}) {
	${0:cout << "Hello World!" << endl;}
	return 0;
}
endsnippet

snippet map "std::map (map)"
std::map<${1:key}, ${2:value}> map$0;
endsnippet

snippet vector "std::vector (v)"
std::vector<${1:char}> v$0;
endsnippet

snippet tp "template <typename ..> (template)"
template <typename ${1:_InputIter}>
endsnippet
